@model IEnumerable<FyraIRad.Models.UserDetails>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "ShowUserList";
}

<h1>ShowUserList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="border: 1px solid black;">
    <h5>Your User: </h5>
    Id: @Accessor.HttpContext.Session.GetInt32("UserId") <br />
    Username: @Accessor.HttpContext.Session.GetString("Username")
    <br />
    @Html.ActionLink("Edit", "EditUser", new { id = @Accessor.HttpContext.Session.GetInt32("UserId") })

</div>
