@model IEnumerable<FyraIRad.Models.UserDetails>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "ShowUserList";
    var activeGames = ViewBag.ActiveGames as List<FyraIRad.Models.GameDetails>;

}
<style>
    .btn-outline-warning.custom-hover {
        color: #ffc107; /* gul text som matchar kantfärgen */
        border-color: #ffc107;
    }

        .btn-outline-warning.custom-hover:hover {
            background-color: #ffc107;
            color: white; /* vit text vid hover */
        }
</style>


<h1>Users List</h1>

@ViewBag.JoinError

<table class="table">
    <thead>

        <tr>
            <th>
                Users
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var hasActiveGame = activeGames?.Any(g => (g.playerRedId == item.UserId) || (g.playerYellowId == item.UserId)) ?? false;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>

                @if (hasActiveGame)
                {
                    <td>
                        <form asp-action="JoinGame" asp-controller="Game" method="post">
                        <input type="hidden" name="id" value="@item.UserId" />
                        <button type="submit" class="btn btn-success">Join Game</button>
                    </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-action="StartGame" asp-controller="Game" method="post">
                            <input type="hidden" name="id" value="@item.UserId" />
                            <button type="submit" class="btn btn-primary">Start Game</button>
                        </form>
                    </td>
                }

                
            </tr>
        }
    </tbody>
</table>

<div style="border: 1px solid black;">
    <h5>Your User: </h5>
    Id: @Accessor.HttpContext.Session.GetInt32("UserId") <br />
    Username: @Accessor.HttpContext.Session.GetString("Username")
    <br />
    @Html.ActionLink("Edit", "EditUser", new { id = @Accessor.HttpContext.Session.GetInt32("UserId") }, new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("Delete", "DeleteUser", new { id = @Accessor.HttpContext.Session.GetInt32("UserId") }, new { @class = "btn btn-outline-danger" })
    @Html.ActionLink("Logout", "Logout", "LogIn", null, new { @class = "btn btn-outline-warning custom-hover"})

</div>
