@model IEnumerable<FyraIRad.Models.UserDetails>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "ShowUserList";
    var activeGames = ViewBag.ActiveGames as List<FyraIRad.Models.GameDetails>;

}
<style>
    .btn-outline-warning.custom-hover {
        color: #ffc107; /* gul text som matchar kantfärgen */
        border-color: #ffc107;
    }

        .btn-outline-warning.custom-hover:hover {
            background-color: #ffc107;
            color: white; /* vit text vid hover */
        }
</style>


<h1><span class="text-success">Users List</span></h1>

@ViewBag.JoinError

<table class="table">
    <thead>

        <tr>
            <th><span class="text-danger">
                Users
                </span>
            </th>
            <th><span class="text-primary">
                Actions
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var hasActiveGame = activeGames?.Any(g => ((g.playerRedId == item.UserId) || (g.playerYellowId == item.UserId)) && (g.GameId != Accessor.HttpContext.Session.GetInt32("EndedGame"))) ?? false;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>

                @if (hasActiveGame)
                {
                    <td>
                        <form asp-action="JoinGame" asp-controller="Game" method="post">
                        <input type="hidden" name="id" value="@item.UserId" />
                        <button type="submit" class="btn btn-success">Join Game</button>
                    </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-action="StartGame" asp-controller="Game" method="post">
                            <input type="hidden" name="id" value="@item.UserId" />
                            <button type="submit" class="btn btn-primary">Start Game</button>
                        </form>
                    </td>
                }

                
            </tr>
        }
    </tbody>
</table>

<div style="border: 1px solid black; padding: 10px;">
    <h5><span class="text-primary">Your User:</span></h5><span class="text-success">
    Id:</span> @Accessor.HttpContext.Session.GetInt32("UserId") <br />
    <span class="text-danger">Username:</span> @Accessor.HttpContext.Session.GetString("Username")
    
    <div class="mt-3">
        @Html.ActionLink("Edit", "EditUser", new { id = @Accessor.HttpContext.Session.GetInt32("UserId") }, new { @class = "btn btn-outline-primary btn-sm me-3" })
        @Html.ActionLink("Delete", "DeleteUser", new { id = @Accessor.HttpContext.Session.GetInt32("UserId") }, new { @class = "btn btn-outline-danger btn-sm me-3" })
        @Html.ActionLink("Logout", "Logout", "LogIn", null, new { @class = "btn btn-outline-warning custom-hover btn-sm me-3" })
    </div>
</div>
